In [ ]:
# import pandas as pd

# df_encoded = pd.get_dummies(df, columns=['Car Model'])

# print(df_encoded)

In [ ]:
import pandas as pd

# Sample DataFrame creation (replace this with your actual DataFrame)
data = {
    'Car Model': ['BMW x5', 'BMW x5', 'BMW x5', 'BMW x5', 'BMW x5', 'Audi A5', 'Audi A5', 'Audi A5', 'Audi A5', 'Mercedez Benz C class', 'Mercedez Benz C class', 'Mercedez Benz C class', 'Mercedez Benz C class'],
    'Mileage': [69000, 35000, 57000, 22000, 46000, 59000, 52000, 72000, 91000, 67000, 83000, 79000, 59000],
    'Sell Price': [18000, 34000, 26100, 40000, 131500, 29400, 32000, 19300, 12000, 22000, 20000, 21000, 33000],
    'Age': [6, 3, 5, 2, 4, 5, 5, 6, 8, 6, 6, 6, 6]
}

df = pd.DataFrame(data)
df

In [ ]:

# df_encoded = pd.get_dummies(df, columns=['Car Model'])

# print(df_encoded)

In [1]:
import pandas as pd

DF = {
    'Car Model': ['BMW x5', 'BMW x5', 'BMW x5', 'BMW x5', 'BMW x5', 'Audi A5', 'Audi A5', 'Audi A5', 'Audi A5', 'Mercedez Benz C class', 'Mercedez Benz C class', 'Mercedez Benz C class', 'Mercedez Benz C class'],
    'Mileage': [69000, 35000, 57000, 22000, 46000, 59000, 52000, 72000, 91000, 67000, 83000, 79000, 59000],
    'Sell Price': [18000, 34000, 26100, 40000, 131500, 29400, 32000, 19300, 12000, 22000, 20000, 21000, 33000],
    'Age': [6, 3, 5, 2, 4, 5, 5, 6, 8, 6, 6, 6, 6]
}

df = pd.DataFrame(DF)
df

df_encoded = pd.get_dummies(df, columns=['Car Model'])

print(df_encoded)

    Mileage  Sell Price  Age  Car Model_Audi A5  Car Model_BMW x5  \
0     69000       18000    6              False              True
1     35000       34000    3              False              True
2     57000       26100    5              False              True
3     22000       40000    2              False              True
4     46000      131500    4              False              True
5     59000       29400    5               True             False
6     52000       32000    5               True             False
7     72000       19300    6               True             False
8     91000       12000    8               True             False
9     67000       22000    6              False             False
10    83000       20000    6              False             False
11    79000       21000    6              False             False
12    59000       33000    6              False             False

    Car Model_Mercedez Benz C class
0                             False
1                             False
2                             False
3                             False
4                             False
5                             False
6                             False
7                             False
8                             False
9                              True
10                             True
11                             True
12                             True